################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MOBILE SUIT GUNDAM 00 Translation Tool/FileContentIndex
