################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**/*
/.vs/MOBILE SUIT GUNDAM 00 Translation Tool/DesignTimeBuild/.dtbcache.v2
